# Ignore local Python cache and bytecode
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore local virtual environments
.venv/
venv/
ENV/

# Ignore environment variables and secrets
.env

# Ignore development IDE configurations
.git/
.gitignore
.vscode/

# Ignore load test artifacts in production builds
load_tests/